name: iOS Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-14
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4

    - name: Install MAUI
      run: dotnet workload install maui

    - name: Build
      run: dotnet build --configuration Release
