name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macOS-15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
      - name: Clear cache
        run: dotnet nuget locals all --clear
      - name: Build
        run: dotnet build
