name: iOS Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-14
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Install MAUI
      run: |
        dotnet workload list
        dotnet workload install maui

    - name: Build
      run: |
        dotnet --version
        dotnet restore
        dotnet build -f net8.0-ios --configuration Release --no-restore
