name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macOS-15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.404'
      - name: Remove .NET 10 to avoid conflicts
        run: rm -rf $HOME/.dotnet/sdk/10.0*
      - name: Install iOS workload
        run: |
          dotnet workload install maui-ios
          dotnet workload restore
      - name: Build
        run: dotnet build -c Release
      - name: Publish
        run: dotnet publish -c Release -r iossimulator-x64 -p:CodesignKey="" -p:CodesignIdentity="" -o ./publish
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ios-simulator
          path: ./publish
