name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Show dotnet version
        run: dotnet --version
      - name: Build
        run: dotnet build -c Release
