name: iOS Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4

    - name: Install MAUI
      run: |
        dotnet workload install maui
        dotnet workload list

    - name: Build
      run: dotnet build -f net8.0-ios --configuration Release --nologo
