name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macOS-15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
      - name: Build with verbose
        run: dotnet build -v d 2>&1 | tail -50
