name: iOS Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-14
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4

    - name: Install MAUI
      run: dotnet workload install maui

    - name: Build with verbose
      run: dotnet build -f net8.0-ios -v d --configuration Release 2>&1 | head -100
