name: iOS Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.100'

    - name: Install MAUI
      run: dotnet workload install maui

    - name: Build iOS
      run: |
        dotnet build -f net9.0-ios --configuration Release -p:SuppressEolWarning=true
