name: iOS Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-14
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4

    - name: Install MAUI
      run: dotnet workload install maui

    - name: Build iOS
      run: dotnet build -f net8.0-ios -p:CodesignKey="" -p:Codesign="" --configuration Release

    - name: Publish iOS Simulator
      run: |
        dotnet publish -f net8.0-ios -r iossimulator-x64 --configuration Release -p:CodesignKey="" -p:Codesign="" -o ./publish/ios-sim

    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: ios-app
        path: ./publish/ios-sim
